
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>palettes - Backbone.js Color Palette Creator</title>
  <link rel="stylesheet" href="style.css"/>

  <script src="lib/json2.js"></script>
  <script src="lib/zepto.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/backbone-localstorage.js"></script>

</head>

<body>
  
  <div id="control">
    
    <header>
      <h1>palettes</h1>
      <h3>blocks of color</h3>
    </header>
    <div id="picker">
      <div id="swatches" class="fivecols">
        <div class="swatch" id="swatch-0"></div>
        <div class="swatch" id="swatch-1"></div>
        <div class="swatch" id="swatch-2"></div>
        <div class="swatch" id="swatch-3"></div>
        <div class="swatch" id="swatch-4"></div>
      </div>
      <div id="color-pickers" class="fivecols">
        <input type="text" id="color-0" value="#333"></input>
        <input type="text" id="color-1" value="#333"></input>
        <input type="text" id="color-2" value="#333"></input>
        <input type="text" id="color-3" value="#333"></input>
        <input type="text" id="color-4" value="#333"></input>
        <div class="center">
          <button id="random-palette">shuffle</button>
          <button id="create-palette">save</button>
        </div>
      </div>
    </div>
  </div>
  
  <ul id="palette-list"></ul>

  <div id="instructions">
    click to edit a palette
  </div>
  
  <div id="credits">
    created by <a href="https://github.com/syntagmatic">kai</a><br/>
    released under the <a href="http://www.opensource.org/licenses/mit-license.php">mit license</a><br/>
    sample palettes from <a href="http://colorbrewer2.org/">color brewer</a><br/>
  </div>

  <script type="text/template" id="item-template">
    <div class="swatches">
      <div class="swatch" style="background: <%= colors[0] %>"></div>
      <div class="swatch" style="background: <%= colors[1] %>"></div>
      <div class="swatch" style="background: <%= colors[2] %>"></div>
      <div class="swatch" style="background: <%= colors[3] %>"></div>
      <div class="swatch" style="background: <%= colors[4] %>"></div>
      <div style="clear: both;"></div>
    </div>
  </script>

  <script src="palettes.js"></script>
  <script src="initializer.js"></script>

  </body>
</html>
