html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #111;
  color: #f6f6f6;
  width: 520px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#todoapp {
  position: fixed;
  top: 0;
  background: #222;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 4px;
  border-radius: 0 0 5px 5px;
}

h1 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 0 0 14px 0;
  margin: 0;
}

input[type="text"] {
  width: 80px;
  padding: 3px;
  margin: 1px;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  line-height: 1.4em;
  outline: none;
  background: #111;
  border: 1px solid #000;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

button {
  background: #111;
  width: 88px;
  padding: 2px 0;
  border: 1px solid #000;
  font-size: 16px;
  line-height: 1.4em;
  color: inherit;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  color: #111;
  background: #f3f3f3;
}

#create-palette {
  margin: 0px 0 0 196px;
}

#main {
  display: none;
}

.fivecols {
  width: 470px;
  padding: 4px;
  border: 1px solid transparent;
}

#swatches {
  border: 1px solid #000;
  background: #111;
  height: 96px;
  border-radius: 6px;
}

#swatches .swatch {
  height: 88px;
  width: 88px;
  margin: 3px;
  float: left;
  background: #333;
  border-radius: 4px;
}

#palette-list .swatch {
  height: 50px;
  width: 50px;
  margin: 3px;
  float: left;
  background: #333;
  border-radius: 4px;
}

#color-pickers {
  padding: 4px 6px;
}

#instructions {
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  text-align: center;
}

#palette-list {
  padding: 0;
  margin: 300px 116px 0;
}

#palette-list li {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  cursor: pointer;
  width: 280px;
}

#instructions a {
  color: #336699;
}

#credits {
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  text-align: center;
}

#credits a {
  color: #888;
}
