html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #111;
  color: #f6f6f6;
  width: 520px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#wrap {
  position: absolute;
  left: 50%;
  width: 520px;
  margin-left: -260px;
}

#control {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 50%;
  background: #222;
  margin-left: -260px;
  padding: 2px 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 4px;
  border-radius: 0 0 5px 5px;
}

header {
  padding: 4px 8px;
  text-align: center;
}

h1 {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: bold;
  padding: 0 ;
  margin: 0;
  display: inline;
}

h3 {
  margin: 0;
  font-size: 13px;
  color: #666;
  display: inline;
}

input[type="text"] {
  width: 84px;
  padding: 3px;
  border: none;
  font-family: inherit;
  color: #888;
  font-size: 15px;
  line-height: 1.4em;
  outline: none;
  background: transparent;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

button {
  padding: 2px 8px;
  margin: 2px 0px;
  border: 1px solid #000;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: bold;
  color: #999;
  background: #333;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
input:focus {
  color: #111;
  background: #ffffcf;
}

#create-palette:hover {
  color: #111;
  background: #a7fd9c;
}

#main {
  display: none;
}

.fivecols {
  width: 470px;
  padding: 4px;
  border: 1px solid transparent;
}

#swatches {
  border: 2px solid #050505;
  background: #090909;
  border-radius: 6px;
}

#swatches .swatch {
  height: 88px;
  width: 88px;
  margin: 3px;
  float: left;
  background: #333;
  border-radius: 4px;
  box-shadow: 0 0 8px #000;
}

#palette-list .swatch {
  height: 50px;
  width: 50px;
  margin: 3px;
  float: left;
  background: #333;
  border-radius: 4px;
}

#color-pickers {
  padding: 4px 2px 0px;
}

#instructions {
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  text-align: center;
}

#palette-list {
  position: relative;
  left: 50%;
  padding: 0;
  width: 280px;
  margin: 240px 0 0 -139px;
  z-index: 2;
}

#palette-list li {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  cursor: pointer;
  width: 280px;
}

#instructions a {
  color: #336699;
}

#credits {
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  text-align: center;
}

#credits a {
  color: #888;
}

.center {
  text-align: center;
}
